@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";

#root {
  max-width: lg= 1440px;
  margin: 0 auto;
  padding: 10px lg=120px;
  font-family:'Open Sans', sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@theme {
  --color-chill-delete: #8B9A9F;
  --color-chill-blue: #4682b4;
  --color-chill-blue-hover: #3a6a92;
  --color-chill-price: #666;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}

.animate-blink {
  animation: blink 1s infinite;
}

.empty-cart {
  background-image: url('/public/empty_cart.png');
}